{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: bankapp-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
  selector:
    app: bankapp
    version: {{ .Values.service.activeColor }}
{{- end }}

